<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <!-- Compiled and minified CSS -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Orpheus</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if currentUserId}}
                {{else}}
                <li><a class="waves-effect waves-light btn" href="/users/new">Sign Up</a></li>
                {{/if}}
                <li><a href="/">Home</a></li>
                <li><a href="/search">View Album Reviews</a></li>
                <li><a href="/reviews">Recent Reviews</a></li>
                <li><a href="/search">Review an Album</a></li>
                {{#if currentUserId}}
                <li><a href="/logout">Log Out</a></li>
                {{else}}
                <li><a href="/login">Log In</a></li>
                {{/if}}
            </ul>
        </div>
      </nav>
    </div>

        
    {{{body}}}
  </body>
</html>
