<div class="row login">
<form id="lgnForm" class="col s12">
    <div class="row">
        <h4>Log In</h4>
    </div>
    <div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">mood</i>
        <input required id="username" type="text" class="validate" name="username">
        <label for="username">Username</label>
    </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        <input required id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
        </div>
    </div>
    <div class="row submit-btn">
    <button class="btn waves-effect waves-light" type="submit" name="action">Log In
    <i class="material-icons right">send</i>
    </button>
    </div>
    <div class="row center-align">
        <p>Don't have an account? You can <a href="/users/new">sign up here!</a></p>
    </div>
</form>
</div>

<script>
    var loginForm = document.getElementById('lgnForm');

    loginForm.onsubmit = (e) => {
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const formData = {username: username, password: password};
        fetch('/login', {
            method: 'POST',
            body: JSON.stringify(formData),
            credentials: 'include',
            headers: {'Content-Type':'application/json'}
        })
        .then( (res) => {
            return res.json()
        })
        .then( (result) => {
            if(result.result == 'Invalid username or password')
            {
                window.alert('Invalid username or password, please try again');
            }
            else
            {
                window.location = '/';
            }
        })
        .catch( (err) => {
            console.log(err);
        })
    }

</script>