body {
  padding: 0;
  margin-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0;
}

.page-footer {
  background-color: #F4F7D9;
  margin-top: 4%;
}

nav:hover {
  background-color: black;
}
nav ul li:hover {
  background-color: #417378;
}
nav ul li.active {
  border-bottom: 3px solid #417378;
}
nav ul a.btn {
  margin-top: 3px;
}

#excl-hover:hover {
  background-color: black;
}
.drop:hover {
  background-color: transparent;
}
.drop {
  width: 72px;
}
.drop a:hover {
  background-color: #417378;
}
.dropdown-content {
  position: relative;
  background-color: black;
}
.dropdown-content li a {
  color: white;
}
.first-section {
  background-color: #417378;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 7%;
  color: white;
}

.first-section h1 {
  margin-top: 0;
  color: white;
}

.signup, .login{
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 5%;
}

.signup h4, .login h4, .reviewForm h4, .userForm h4 {
  display: flex;
  justify-content: center;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

.search, .reviewForm {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 2%;
}

.reviewForm img {
  margin-top: 10%;
}
.card-image {
  height: 128px;
  width: 128px;
}

.displayResults {
  width: 50%;
}

.card-content {
  height: 128px;
  padding-top: 0;
}

.card-content div {
  margin: 0 0 0 0;
}

.card-content h5, .card-content h6 {
  display: inline;
}
.card-action .row {
  margin-bottom: 0;
}

.card-action { 
  padding: 0 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #417378;
}
.start-btn {
  width: 30%;
  font-size: 24px;
  height:60px;
}

.start-btn button {
  font-size: 24px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
}

.review-album-info {
  margin-top: 1%;
  
}
.review-info {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  border: 2px solid #e0e0eb
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  line-height: 20pt;
}

.review-body p {
  white-space: pre-wrap;
}
.review-body h4 {
  margin-top: 0;
}
.reviews-index, .album-reviews {
  width: 65%;
  animation: slide-up 1s ease;
}

.input-field label {
  pointer-events: all;
}

.dropdown-content {
  display: block;
  top: 12px;
  font-size: 2pt;
}

.displayResults button {
  margin-left: 3%;
}

.new-release .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.new-release .card img {
  margin-top: 10%;
}

.new-release .card .card-content h6 {
  display: block;
}

.contact-info a {
  margin-left: 3px;
  margin-right: 3px;
}

