body {
  padding: 0;
  margin-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: black;
  color: white;
  width: 100%;
  margin-bottom: 0;
}

.first-section {
  background-color: #A4CFBE;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 7%;
  color: #3E423A;
}

.first-section h1 {
  margin-top: 0;
  color: black;
}

.signup, .login{
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 5%;
}

.signup h4, .login h4, .reviewForm h4, .userForm h4 {
  display: flex;
  justify-content: center;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

.search, .reviewForm {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 2%;
}

.reviewForm img {
  margin-top: 10%;
}
.card-image {
  height: 128px;
  width: 128px;
}

.displayResults {
  width: 50%;
}
.card-content {
  height: 128px;
  padding-top: 0;
}

.card-content div {
  margin: 0 0 0 0;
}

.card-content h5, .card-content h6 {
  display: inline;
}
.card-action .row {
  margin-bottom: 0;
}

.card-action { 
  padding: 0 0;
}
.start-btn {
  width: 30%;
  height:60px;
}

.start-btn button {
  font-size: 24px;
}

.review-album-info {
  margin-top: 1%;
  
}
.review-info {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  border: 2px solid #e0e0eb
}

.review-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  line-height: 20pt;
}

.review-body p {
  white-space: pre-wrap;
}
.reviews-index, .album-reviews {
  width: 65%;
}

.input-field label {
  pointer-events: all;
}

.dropdown-content {
  display: block;
  top: 12px;
  font-size: 2pt;
}