<div class="container">
<div class="row search">
<form id="srcAlb" method="POST" action="search/results" class="col s12">
    <div class="row">
        <h1>Search For An Album</h1>
    <div class="input-field col s12 form-group">
          <i class="material-icons prefix">search</i>
          <input id="str" type="search" name="album" required>
          <label for="album">Album Name</label>
    </div>
    </div>
    <div class = "row submit-btn">
    <button class="btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right">send</i>
    </button>
    </div>
</form>
</div>
</div>